@media (max-width:900px) {
    #page-home {
        background-image: url();
        background-position: center;
        position: relative;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
        position: relative;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}

@media (min-width: 900px) {
    #page-home {
        background-position: 45vw;
    }

}

@media (max-height: 850px) {
    #page-home {
        background-position-y: 100px;
    }
}

@media (max-width: 700px){
    #page-create-point {
        width: 650px;
    }
}

@media (max-height: 640px) {
    #page-home {
        height: 640px;
    }
}

@media (max-width: 450px){
    #page-home header a {
        bottom: 0px;
    }
}

@media (max-width: 320px){
    body {
        width: 320px;
    }
}